@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(109, 154, 237);
  background: linear-gradient(
    360deg,
    rgba(109, 154, 237, 1) 0%,
    rgba(10, 35, 81, 1) 100%
  );
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.3rem 2.5rem;
  border-radius: 0.3rem;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
  float: right;
  margin-right: 0.5rem auto;
}
.container a:hover {
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 2rem;
}

.form-control {
  position: relative;
  margin: 1.3rem 0 2.6rem;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.2rem;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
